body {
  background-color: url("gray_sand.png") ;
  font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
}

.header {
  text-align: center;
  border: 1px solid powderblue;
  padding: 10px;
}

.card-top-spacing {
  padding: 10px;
  margin: 20px;
}